

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
  
 header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
 }
  
 header img {
    width: 50px;
 }
  
 .pullsection {
    justify-content: center;
    display: flex;
 }
 .descrição {
    margin-top: 150px;
    text-align: center;
 }
  
 .descrição code {
    color: rgb(177, 44, 44);
    font-family: monospace;
 }
  
  
 